#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        slash-questionmark {
            bindings = <&kp SLASH>;
            key-positions = <33 32>;
            layers = <0>;
        };

        par1 {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 4>;
            layers = <0>;
        };

        par2 {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 8>;
            layers = <0>;
        };

        bracket1 {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <16 15>;
            layers = <0>;
        };

        bracket2 {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <19 20>;
            layers = <0>;
        };

        bracket3 {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <28 27>;
            layers = <0>;
        };

        bracket4 {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <30 31>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&kp ESC    &kp Q     &kp W     &kp E  &kp R    &kp T  &kp Y  &kp U      &kp I      &kp O     &kp P     &kp BSPC
&kp TAB    &kp A     &kp S     &kp D  &kp F    &kp G  &kp H  &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C  &kp V    &kp B  &kp N  &kp M      &kp COMMA  &kp DOT   &kp UP    &trans
&kp LCTRL  &kp LGUI  &kp LALT         &kp RET                &kp SPACE  &mo 1      &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };

        num {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6     &kp N7     &kp N8         &kp N9     &kp N0  &kp DEL
&kp TAB    &trans  &trans  &trans  &trans  &trans  &kp MINUS  &kp EQUAL  &kp BACKSLASH  &kp GRAVE  &trans  &trans
&kp LSHFT  &trans  &trans  &trans  &trans  &trans  &kp UNDER  &kp PLUS   &kp PIPE       &kp TILDE  &trans  &trans
&kp LCTRL  &trans  &trans          &trans                     &trans     &trans         &trans     &trans  &trans
            >;
        };
    };
};
